/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* text-transform: lowercase; */
  background-color: #7f7f7fff;
}

.animation-blink {
  animation: blink 0.5s alternate infinite;
}

@keyframes blink {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
